//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0
// Component styles are injected through grunt
/* inject:styl */
@import "main/main"
/* endinject */
